.jshl-boolean {
    color: purple;
}

.jshl-bracket {
    color: #ab6533;
}

.jshl-identifier {
    color: black;
}

.jshl-null {
    color: purple;
}

.jshl-number {
    color: blue;
}

.jshl-separator {
    color: #333333;
}

.jshl-string {
    color: #008000;
}

.jshl-whitespace {
    color: black;
}
